html{
  scroll-behavior: smooth;
}

body {
  background-image: url(../img/bg_content.png);
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  overflow: hidden;
}

nav {
  font-size: 1em;
  font-weight: 300;
}

.jumbotron {
  padding: 10rem;
  background-image: url(../img/background1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron-heading {
  padding-bottom: 3rem;
  color: white;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

h1 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  font-weight: 100;
}

h5 {
  font-size: 1em;
  font-weight: 300;
}

.card-text {
  font-size: 1em;
  font-weight: 300;
}

.card {
  margin-top: 5%;
  margin-bottom: 5%;
}

h2:after {
  content: "";
  display: block;
  width: 15vw;
  height: 1px;
  margin: 0 auto;
  background-color: white;
  margin: 13px auto 0;
}

.intro__btn {
  vertical-align: top;
  padding: 7px 10px;
  border: 1px solid white;
  color: white;
  text-transform: uppercase;
  transition: background-color 0.3s linear;
}

.intro__btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
}

.card {
  background-color: rgb(235, 235, 235);
}

/* Card detail buttons */

.card__desk__btn {
  padding: 7px 25px;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  transition: background-color 0.3s linear;
  transition: color 0.1s linear;
}

.card__desk__btn:hover {
  background-color: rgb(52, 58, 64);
  color: rgb(255, 255, 255);
}

.footer__style {
  margin-top: 35px;
  padding-top: 15px;
  background-color: rgba(0, 0, 0, 0.342);
}

.footer__p {
  color: black;
  font-size: 1rem;
  font-weight: 300;
  padding: 10px;
}
